.btn {
    background-color: aqua;
    font-size: 12px;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    text-decoration: none;
}

.main > .btn-main {
    background-color: #FDD6D0; 
    color: #ED7863;
    font-weight: bold;
    padding: 0.5em 3em;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.btn:hover {
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 50%);  
    text-decoration: none;
}