body {
    width: 60%;
    margin-left: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

header {

}

main {   
    margin-top: 30 px;
    display: block;
    align-items: center;
}

header > img {
    float: left;
}

nav {
    color: #191858;
    text-decoration: none;
    float: right;
    margin: 0;
}


main {
    width: 50%;
    text-align: center;
}

h1 {
    color: #120F5D;
}

p {
    color: #120F5D;
}

main > a {
    background-color: #FDD6D0; 
    color: #ED7863;
    text-decoration: none;
    font-size: 20px;
    padding: 2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 999em;
}


.container {
    width: 100%;
    height: 100wh;
    padding: 5%;
    background-color: #EDF1F5;
}