body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F8F9FE;
    margin: 0;
    padding: 0;
}
.main, .hero {    
    width: 800px;
    margin-left: calc(50% - 400px);
}
.hero {
    margin-top: 5%;
}
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.logo {
    float: left;
    width: 100px;
    height: 70px;
    object-fit: contain;
    object-position: left;
}
.nav {
    color: #191858;
    text-decoration: none;
    float: right;
}
.nav > .link {
    display: inline-block;
    /* margin-left: 2em; */
    color: #070346;
    text-decoration: none;
    font-size: 12px;
    line-height: 70px;
    margin-right: 10px;
}
.link:first-child {
    margin-right: 0;
}
.title {
    font-size: 40px;
    color: #110E5F;
    font-stretch: normal;
}
.description {
    color: #040051;
    font-size: 20px;
}
.button {
    align-items: center;
    align-content: center;
    background-color: #FDD6D0; 
    color: #ED7863;
    text-decoration: none;
    font-size: 15px;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    font-weight: bold;
    
}
/* .button:hover {
    box-shadow: 0 2 3 5;
} */

/* img {} */